* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

header {
  font-family: 'Roboto', sans-serif;
}

.header__top {
	background-color: #303030;
}

.header__btn {
	float: right;
	line-height: 36px;
	font-size: 16px;
	color: #1b1b1b;
	background-color: #ffc222;
	padding: 5px 20px 4px 50px;
	position: relative;
}

.header__btn:before {
	content: '\f0b1';
	font-family: 'icomoon';
	position: absolute;
	left: 22px;
	color: #1b1b1b;
}

.header-contacts:after {
	content: '';
	clear: both;
	display: block;
}

.header__phone,
.header__email {
	color: #cbcacb;
  letter-spacing: .25px;
  line-height: 45px;
	position: relative;
}

.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}

.header__phone:before {
	content: '\f095';
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__email {
  padding-left: 24px;
}

.header__email:before {
	content: '\f003';
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	color: #ffc222;
}

.header__content {
  padding: 34px 0 23px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0 16px;
  transition: all .3s ease-in-out;
}

.menu a:hover {
  border-color: #ffc222;
}

.menu li + li {
  padding-left: 10px;
}

#modal {
	display: none;
}

.slider {
	background-image: url("../img/slider-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 500px;
}

.slider__item-content {
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}

.slider__title {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
	letter-spacing: 1.5px;
	color: #fff;
	margin-bottom: 22px;
}

.slider__text {
	color: #d3d2d2;
	font-family: "PT Serif", sans-serif;
	line-height: 24px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 47px;
}

.default-btn {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	padding: 14px 21px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	outline: none;
}

.default-btn:before {
	content: '\f105';
	font-family: 'icomoon';
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: -12px;
}

.slider__inner {
	position: relative;
}

.slick-btn {
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	background-color: #ffc222;
	position: absolute;
	top: 70%;
	outline: none;
	transition: background-color .15s ease-in-out;
	z-index: 10;
	cursor: pointer;
}

.slick-btn.slick-disabled {
	cursor: not-allowed;
	background-color: transparent;
}

.slick-btn:before {
	content: '\f104';
	font-family: 'icomoon';
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slick-next:before {
	content: '\f105';
}

.slick-prev:before {
	content: '\f104';
}

.slick-next {
	right: 0;
}

/*SERVICES section*/

.services {
	padding: 50px 0 30px;
}

.services__top,
.news__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 67px;
}

.services__title-box,
.news__title-box,
.form__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}

.services__title-box:before,
.news__title-box:before,
.form__title-box:before {
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 106px;
	height: 2px;
	background-color: #ffc222;
}

.services__title,
.news__title,
.form__title {
	color: #212020;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 14px;
}

.services__text,
.news__text,
.form__text {
	letter-spacing: .14px;
}

.services__btn a,
.news__btn a {
	color: #373636;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .35px;
	border: 3px solid #e6e6e6;
	padding: 14px 42px;
}

.services .default-btn:before {
	color: #fff;
}

.services__items {
	display: flex;
	justify-content: space-between;
}

.services__item {
	max-width: 360px;
	min-height: 367px;
	text-align: center;
	padding: 24px 37px 151px;
	box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
	background-color: #f9f9f9;
	position: relative;
}

.services__item-title {
	color: #212020;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-top: 27px;
	margin-bottom: 28px;
}

.services__item-text {

}

.services__item-btn {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 74px);
	align-items: center;
	position: absolute;
	bottom: 39px;
	left: 50%;
	transform: translateX(-50%);
}

.services__item-btn .default-btn {
	color: #373636;
	font-family: 'Roboto', sans-serif;
}

.services__item-link {
	color: #050505;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #050505;
	line-height: 13px;
}

/*ABOUT section*/
.about {
	background-image: url("../img/about-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: 37px 0 47px;
}

.about__inner {
	max-width: 545px;
}

.about__title {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 34px;
}

.about__text {
	color: #d3d2d2;
	letter-spacing: .14px;
	margin-bottom: 37px;
	line-height: 24px;
}

.about .default-btn:before {
	color: #303030;
}

/*FORM SECTION*/

.form {
	padding: 45px 0 42px;
}

.form__inner {
	background-image: url("../img/form-lady.png");
	min-height: 460px;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.form__box {
	max-width: 850px;
	margin-top: 43px;
}

.form__box-inner {
	display: flex;
	justify-content: space-between;
}

.form__box-left {
	max-width: 264px;
	width: 100%;
}

.form__box-right {
	display: flex;
	flex-direction: column;
	max-width: 557px;
	width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
	display: block;
	width: 100%;
}

.form__box-inner label {
	color: #282828;
	font-family: 'Roboto', sans-serif;
	line-height: 36px;
}

.form__box-inner input,
.form__box-inner textarea {
	border: 1px solid #e6e6e6;
	height: 40px;
	outline: none;
	padding: 0 10px;
}

.form__box-inner input,
.form__box-inner select {
	margin-bottom: 5px;
	margin-top: -4px;
	background: transparent;
}

/*jquery select START*/

.form__box-inner .jq-selectbox.jqselect {
	display: block;
	width: 100%;
}

.form__box-inner .jq-selectbox__select {
	border: 1px solid #e6e6e6;
	height: 40px;
	padding: 0 10px;
}

.form__box-inner .jq-selectbox__trigger-arrow:before {
	content: '\f105';
	font-family: 'icomoon';
	position: absolute;
	transform: rotate(90deg);
	right: 17px;
	top: 0;
}

.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner .jq-selectbox li.option {
	padding-left: 25px;
}

/*jquery select END*/


.form__box-inner textarea {
	margin-top: -4px;
	min-height: 195px;
	margin-bottom: 36px;
	padding: 10px;
	resize: none;
}

.form__box-right button {
	align-self: flex-end;
	background-color: #fff;
	color: #282828;
}

/*ADVANTAGES section*/

.advantages {
	background-image: url("../img/advantages-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 287px;
	padding: 55px 0 40px;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
	text-align: center;
	color: #d3d2d2;
}

.advantages__item {
	max-width: 360px;
	padding: 0 20px;
}

.advantages__title {
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 22px;
	padding-top: 68px;
	position: relative;
}

.advantages__title:before {
	content: '';
	width: 40px;
	height: 40px;
	border: 2px solid #ffc222;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.advantages__title:after {
	content: '\f00c';
	font-family: 'icomoon';
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.advantages__text {
	line-height: 24px;
	letter-spacing: 0.14px;
}

/*NEWS section*/

.news {
	padding: 68px 0 109px;
	background-color: #f9f9f9;
}

.news__inner {
	display: flex;
	justify-content: space-between;
}

.news__slider {
	max-width: 554px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
	padding: 62px 37px 47px 70px;
	position: relative;
}

.news__slider:before {
	content: '\f10e';
	font-family: 'icomoon', sans-serif;
	position: absolute;
	top: 0;
	left: 70px;
	color: #fff;
	font-size: 16px;
	width: 65px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ffc222;
}

.news__slider-title {
	color: #242424;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: .9px;
	margin-bottom: 17px;
}

.news__slider-text {
	letter-spacing: .14px;
	margin-bottom: 37px;
}

.news__slider-author {
	color: #212020;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: .14px;
}

.news__slider .slick-btn {
	top: auto;
	bottom: -110px;
}

.news__slider .slick-next {
	right: -37px;
}

.news__slider .slick-prev {
	right: 18px;
}

.news__slider .slick-btn.slick-disabled {
	border: 1px solid #dadada;
}

.news__slider .slick-btn.slick-disabled:before {
	color: #dadada;
}

.news__blog {
	max-width: 262px;
	width: 100%;
}

.news__images {
	position: relative;
}

.news__date {
	position: absolute;
	top: 0;
	left: 10px;
	width: 47px;
	height: 54px;
	background-color: #ffc222;
	padding: 32px 5px 0;
	color: #f9f9f9;
	font-weight: 700;
}

.news__blog-title {
	color: #242424;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: .8px;
	padding: 18px 0 15px;
}

.news__blog-text {
	color: #5e5e5e;
	letter-spacing: .14px;
}

/*FOOTER section*/

.footer__content {
	background-color: #595959;
	padding: 29px 0 37px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__inner .header__btn {
	float: none;
	display: inline-block;
}

.footer__title {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: .8px;
	margin-bottom: 20px;
}

.footer__text {
	color: #d3d2d2;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 27px;
}

.footer__list {
	margin-top: 27px;
}

.footer__list a {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-left: 33px;
	position: relative;
}

.footer__list a:before {
	font-family: 'icomoon', sans-serif;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #ffc222;
}

.footer__list a.footer__phone:before {
	content: '\f095';
	left: 2px;
}
.footer__list a.footer__mail:before {
	content: '\f003';
}
.footer__list a.footer__map-marker:before {
	content: '\f041';
	left: 3px;
}

.footer__list li {
	margin-bottom: 10px;
}

.footer__map {
	padding-top: 12px;
}

.footer__info {
	max-width: 350px;
}

.footer__copy {
	background-color: #303030;
}

.copy__text {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: .6px;
	padding: 10px 0;
	text-align: center;
}

/*modal window section*/

#modal {
	width: 300px;
}

#modal input {
	display: block;
	width: 100%;
	border: 1px solid #e6e6e6;
	height: 40px;
	outline: none;
	padding: 0 10px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#modal input[type=submit] {
	background-color: #ffc222;
	border: none;
}



